/twitter-producer/.idea
/twitter-producer/target
/twitter-producer/.classpath
/twitter-producer/.project
/twitter-producer/.settings
/twitter-producer/twitter-streaming-analytics.iml
/twitter-producer/src/main/java/com/tourDSS/producer/keys/Keys.java

/twitter-consumer/.idea
/twitter-consumer/src/main/java/com/tourDSS/consumer/keys/keys.java
/twitter-consumer/target
/twitter-consumer/dependency-reduced-pom.xml
/twitter-consumer/streaming-analytics-consumer.iml
/twitter-consumer/.classpath
/twitter-consumer/.project
/twitter-consumer/.settings
/twitter-consumer/spark-streaming.iml

/twitter-secondary-consumer/src/main/java/keys/keys.java
/twitter-secondary-consumer/.idea
/twitter-secondary-consumer/target
/twitter-secondary-consumer/dependency-reduced-pom.xml
/twitter-secondary-consumer/streaming-analytics-consumer.iml
/twitter-secondary-consumer/.classpath
/twitter-secondary-consumer/.project
/twitter-secondary-consumer/.settings
/twitter-secondary-consumer/streaming-analytics-secondary-consumer.iml

/.idea

/client/node_modules
/client/.pnp
/client.pnp.js
/client/coverage
/client/build
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

/api/node_modules
